<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>衡源金属仿写</title>
    <link rel="stylesheet" href="{CSS_ADD}index/index.css">
    <script src="{JS_ADD}index/aniMath.js"></script>
    <script src="{JS_ADD}index/wheel.js"></script>
</head>
<body>
<div id="top-bar">
    <div class="top-wrap">
        <div id="top-table top-mobile-collapsed">
            <div class="top-td">
                <div class="mini-top-left">
                    <ul>              </ul>
                </div>
                <div class="top-left">
                    仅供学习使用，如有侵权，立即删除!!!
                </div>
            </div>
            <div class="top-right">
                <form class="searchform" method="GET" action="http://www.dg-hengyuan.com">
                    <input results="s"type="search" class="assistive-text searchsubmit"
                           value placeholder="请输入需要搜索的文字">
                    <a href="#go" style="margin: 0px;height: 25px;line-height: 25px;top: 2px;color:#8d9095;" class="submit fa fa-search"></a>
                </form>
            </div>
        </div>
    </div>
</div>
<header id="header" class="logo-classic" role="banner">
    <div class="wf-wrap">
        <div class="headerlogo">
            <a href="http://www.dg-hengyuan.com/">
                <div class="logospan">
                    <img src="{IMG_ADD}logo.png" width="225.79px;" height="54px" alt="衡源金属科技专业生产：人脸识别外壳，门禁闸机头通道一体机外壳，测温模块热成像铝外壳，广告机外壳铝合金框，铝型材框显示器面板，7寸8寸10.1寸外壳加工厂家，咨询：15919816244">
                </div>
                <div class="logospans">
                    <span class="first-span" style="font-size: 23px;color: rgb(14,27,132);"><b><p></p>东莞市衡源金属科技有限公司</b></span>
                    <span style="font-size: 16px; font-family: 微软雅黑, sans-serif; color: rgb(34, 34, 34);"><b>专业人脸识别终端一体机套料外壳供应商</b></span>
                </div>
            </a>
        </div>
        <div class="headerright">
            <table class="qtable" style="
                width:99%;margin-right:calc(1%);margin-top: 29.5px;">
                <tr>
                    <td rowspan="2" style="width: 8.011%;border-color: rgb(255,255,255);">
                        <img src="https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE4LzA5L2JhMDJhM2M1MDA1OTNjNjdkODQzMDRiYWE5NGNiZjcyLnBuZw_p_p100_p_3D_p_p100_p_3D.png" alt="" title="" style="width: 50px; height: 50px;">
                    </td>
                    <td rowspan="2" style="width: 29.9264%;border-color: rgb(255,255,255);">
                        全国咨询热线<br>
                        <span style="font-size: 28px;">
                                <span style="color: rgb(14,27,132);font-family: 楷体;">15919816244</span>
                            </span>
                    </td>
                    <td rowspan="2" style="width: 8.5635%;background-color:rgb(255,255,255);border-color: rgb(255,255,255);">
                        <img data-fr-image-pasted="true" src="https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE4LzA5L2JhMDJhM2M1MDA1OTNjNjdkODQzMDRiYWE5NGNiZjcyLnBuZw_p_p100_p_3D_p_p100_p_3D.png" alt="" title="" style="width: 50px; height: 50px;">
                    </td>
                    <td rowspan="2" style="width: 33.2413%;background-color:rgb(255,255,255);border-color: rgb(255,255,255);">
                        全国咨询热线<br>
                        <span style="font-size: 28px;">
                                <span style="color: rgb(14,27,132);font-family: 楷体;">15919816244</span>
                            </span>
                    </td>
                    <td style="width: 9.4844%;border-color: rgb(255,255,255);text-align: center;">
                        <a href="http://dg-hengyuan.com/" target="_blank">
                            <img src="https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzAyLzlhNzc5NDJjMmNmZGUwMmVjZTBkNDdkOTA2NjI2ZjlkLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg" alt="" title="">
                        </a>
                    </td>
                    <td style="width: 9.4844%;border-color: rgb(255,255,255);text-align: center;">
                        <a href="http://en.dg-hengyuan.com/" target="_blank">
                            <img src="https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzAyL2Y4MDViMGRlNjk4ZDIyNjQwMzQwMDhmMjVhNTgwMjQ5LmpwZw_p_p100_p_3D_p_p100_p_3D.jpg" alt="" title="">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10.5893%;background-color: rgb(255,255,255);border-color: rgb(255,255,255);text-align: center;">
                        <span style="color: rgb(0,0,0);">中文</span>
                    </td>
                    <td style="width: 9.4844%;background-color: rgb(255,255,255);border-color: rgb(255,255,255);text-align: center;">
                        <span style="color: rgb(0,0,0);">英文</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="header-nav">
        <nav id="navigation" class="wf-wrap">
            <ul id="main-nav">
                {foreach $menudata as $v}
                <li>
                    <a href="http://localhost/study/mvc/index.php/index/index">
                        <div class="nav">{$v["cname"]}</div>
                    </a>
                </li>
                {/foreach}
            </ul>
        </nav>
    </div>
</header>
<section class="bitBanner" id="bitBanner">
    <div class="wheel">
        <script>
            wheel(".wheel",{
                imgs:["https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDIwLzA2LzFlZDYxN2UwMTg0YWE2NWQ3OGI3ODIyYjJmNmVmMzdkLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg","https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDIwLzA2LzUwNjE0ZTRlZmM5ZDQ0NTk2MWRkMWI2YTZlZDM0MWMzLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg","https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDIwLzA2L2M4ZWM5MmM5NDgyNWUwYTEyM2NlZWI4MmNiN2E3MTllLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg","https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDIwLzA2L2QxZDc4NjM5ZTA5ZTE4NzE4NGZiZWYwN2JhNTUxNjQ1LmpwZw_p_p100_p_3D_p_p100_p_3D.jpg"],
                links:["hengyuan.html","hengyuan.html","hengyuan.html","hengyuan.html"],
                imgColor:["white","white","white","white"],
                imgSize:[1518,500],
                btnColor:"gray",
                btnActive:"white",
                btnPos:["center","10"]
            },{
                eachTime:1
            })
        </script>
    </div>
</section>
<div class="product">
    <div class="title">
        <div style="float: left;"><hr></div>
        <div style="font-family:tahoma;font-size:50px;font-weight:bold;font-style:normal;color:#0b1d83;padding:0  10px 0 0;display:inline-block;padding:0  10px 0 0;vertical-align:middle;">PRODUCT</div>
        <div style="font-family:微软雅黑;font-size:40px;font-weight:normal;font-style:normal;color:#2b2b2b;display:inline-block;padding:2px;vertical-align:middle;margin-top: -86px;margin-left: 250px;">产品系列</div>
    </div>
    <span class="line-abs" style="overflow:hidden;border-bottom-style:solid;width:455px;max-width:455px;border-bottom-width:1px;border-bottom-color:#e2e2e2;margin-right:20px;"></span>
    <div class="newtitle">
        <div style="font-family:微软雅黑;font-size:25px;font-weight:normal;font-style:normal;color:#7f7f7f;padding:0  10px 0 0;padding:0  10px 0 0;vertical-align:bottom;">智能人脸识别终端一体机行业供应商</div>
    </div>
    <span class="line-abs right" style="overflow:hidden;border-bottom-style:solid;width:455px;max-width:455px;border-bottom-width:1px;border-bottom-color:#e2e2e2;margin-left:20px;"></span>
</div>
<div class="productDetail">
    <div class="productbutton">
        <ul style="text-align:center; width:100%;display: table;">
            <li class="left" style="display: table-cell;"></li>
            <li class="item" id="item" style="display: table-cell;text-align:center; position:relative;width:150px;">
                <a href="" style="cursor:pointer;line-height:17px;display: block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:150px;border-style: solid;font-family:微软雅黑; font-size:17px; font-weight:bold; background-color:transparent; color:#0b1d83; border: 1px solid rgba(11,29,131,1); padding:14px 20px 14px 20px;">人脸/识别/外壳</a></li>
            <li class="itemblank" id="item" style="display: table-cell;width:20px"></li>
            <li class="item" style="display: table-cell;text-align:center; position:relative;width:150px;">
                <a href="" style="cursor:pointer;line-height:17px;display: block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:150px;border-style: solid;font-family:微软雅黑; font-size:17px; font-weight:bold; background-color:transparent; color:#0b1d83; border-top:1px solid rgba(11,29,131,1); border-bottom:1px solid rgba(11,29,131,1); border-left:1px solid rgba(11,29,131,1); border-right:1px solid rgba(11,29,131,1); padding:14px 20px 14px 20px;">标准/配件/系列</a></li>
            <li class="itemblank" id="item" style="display: table-cell;width:20px"></li>
            <li class="item" style="display: table-cell;text-align:center; position:relative;width:150px;">
                <a href="" style="cursor:pointer;line-height:17px;display: block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width:150px;border-style: solid;font-family:微软雅黑; font-size:17px; font-weight:bold; background-color:transparent; color:#0b1d83; border-top:1px solid rgba(11,29,131,1); border-bottom:1px solid rgba(11,29,131,1); border-left:1px solid rgba(11,29,131,1); border-right:1px solid rgba(11,29,131,1); padding:14px 20px 14px 20px;">支持/定制/系列</a></li>
            <li class="right" style="display: table-cell;"></li>
        </ul>
    </div>
    <script>
        var items=document.querySelector(".item")
        // for(var i=0;i<items.length;i++){
        items.onmouseover=function(){
            items.style.cssText="border: 2px solid rgba(11,29,131,1);"
        }
        items.onmouseout=function(){
            items.style.cssText=" "
        }
        // }
    </script>
    <div class="productimgbox">
        <ul>
            <li class="productimg" style="border:1px solid #7f7f7f;">
                <div style="float: left;">
                    <div style=" border-top:1px solid rgba(216,216,216,1);border-bottom:1px solid rgba(216,216,216,1);border-left:1px solid rgba(216,216,216,1);border-right:1px solid rgba(216,216,216,1);background-color:transparent;"></div>
                    <div style="overflow:hidden;display:block;width: 100%;text-align: center;padding-bottom:10px;">
                        <a href="http://www.dg-hengyuan.com/?products=%e4%ba%ba%e8%84%b8%e6%b5%8b%e6%b8%a9%e8%80%83%e5%8b%a4%e9%97%a8%e7%a6%81%e5%a4%96%e5%a3%b3" class="bitImageAhover   link_image" title="人脸测温考勤门禁外壳">
                            <img data-t-id="22522" style="width: 100%;height: 100%;" class=" ag_image" src="https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDIwLzA2LzRjNjBmN2YyMjcyNzE2ZDVlMTllZDNmNmMzZTU2ODRkLTQ1MHg0NTAuanBn.jpg" alt="HY-K817BV03" description="" data-attach-id="22522" data-title="HY-K817BV03" title="" src-img="">
                        </a>
                    </div>
                    <div style="padding-top:20px;padding-bottom:20px;color:#373A41;line-height:14px; vertical-align: top; text-align:center; width: 314.58px;height:60.6px;">
                        <a data-title="true" style="color:#373A41;font-size:14px;line-height:1" href="http://www.dg-hengyuan.com/?products=%e4%ba%ba%e8%84%b8%e6%b5%8b%e6%b8%a9%e8%80%83%e5%8b%a4%e9%97%a8%e7%a6%81%e5%a4%96%e5%a3%b3" class="bitImageAhover   link_title" title="人脸测温考勤门禁外壳">人脸测温考勤门禁外壳</a>
                    </div>
                </div>
    </div>
    <div style="float: left;width: 200px;height: 200px;"></div>
    </li>
    </ul>
</div>
</div>
<script>
    var product=document.querySelector(".productimg")
    product.onmouseover=function(){

    }
</script>
<div class="about" style="width: 1519.2px;height: 880.8px;background-image: url('https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDE5LzAzL2YyODlmNDQ2Y2MxYTZlYzg3MDRkN2Y0ODc2OGRlMGJmLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position:center center;">
    <div style="width: 384px;height: 86px;display:inline-block;position:relative;max-width:100%;margin-left: 300px;margin-top: 70px;">
        <div style="font-family:微软雅黑;font-size:26px;font-weight:bold;font-style:normal;color:#ffffff;padding:0 0 15px 0;display:block;padding:0 0 15px 0;text-align: center;">ABOUT-关于我们</div>
        <div style="font-family:century gothic;font-size:16px;font-weight:normal;font-style:normal;color:#1e73be;display:block;padding:0 0 15px 0;">专业从事产品、研发、生产、营销、服务为一体供应商</div>
    </div>
    <div style="width: 1500px;height: 425px;">
        <div style="float: left;">
            <img src="{IMG_ADD}about.jpg" style="margin-left: 200px;margin-top:110px ;">
        </div>
        <div style="width: 719.3px;height: 426.6px;float: left;margin-left: 100px;margin-top: 200px;">
            <div style="font-size: 38px;font-family: 楷体;color: rgb(41, 105, 176);">
                东莞市衡源金属科技有限公司
            </div>
            <div style="font-size: 26px;font-family: 楷体;">
                专业智能人脸识别终端一体机外壳供应商
            </div>
            <b>
                <div style="font-family: 楷体; background-color: initial; word-spacing: normal;">
                    &nbsp;&nbsp;公司专业设计开发，生产，销售，人脸识别终端一体机外壳，主要产品有，人脸识别一体机，人脸支付机，人脸识别门禁，智能人脸收银机，兼容市场各种人脸识别主板，宽动态摄像，人脸识别终端外壳，帮助客户快速实现组装人脸识别终端一体机，为客户提高生产效益.
                </div>
                <div style="font-family: 楷体; background-color: initial; word-spacing: normal;">
                    &nbsp;&nbsp;东莞衡源专业人脸识别终端一体机外壳供应商采用开放性合作方式，支持只提供电子硬件部分，二次设计生产定制，适配客户自己的电子硬件，为客户快速提供人脸识别终端外壳，提供整机代工，公司生产的人脸识别套料外壳已被国内外众多客户采用，广泛应用于，智能化城市，学校，医院，小区，三站一场，超市，银行等场所.
                </div>
                <div style="font-family: 楷体; background-color: initial; word-spacing: normal;">
                    &nbsp;&nbsp;为客户带来显著的经济效益和社会效益，遵循“严谨、专业、进取、团队”的企业经营念。
                </div></b>
        </div>
    </div>
</div>
<div class="case">
    <div class="title">
        <div style="font-family:tahoma;font-size:50px;font-weight:bold;font-style:normal;color:#0b1d83;padding:0  10px 0 0;display:inline-block;padding:0  10px 0 0;vertical-align:middle;margin-left: 30px;">CASE</div>
        <div style="font-family:微软雅黑;font-size:40px;font-weight:normal;font-style:normal;color:#2b2b2b;display:inline-block;padding:2px;vertical-align:middle;">应用场所</div>
    </div>
    <span class="line-abs" style="overflow:hidden;border-bottom-style:solid;width:455px;max-width:455px;border-bottom-width:1px;border-bottom-color:#e2e2e2;margin-right:20px;"></span>
    <div class="newtitle">
        <div style="font-family:微软雅黑;font-size:25px;font-weight:normal;font-style:normal;color:#7f7f7f;padding:0  10px 0 0;padding:0  10px 0 0;vertical-align:bottom;">专业智能人脸识别一体机供应商</div>
    </div>
    <span class="line-abs right" style="overflow:hidden;border-bottom-style:solid;width:455px;max-width:455px;border-bottom-width:1px;border-bottom-color:#e2e2e2;margin-left:20px;"></span>
</div>
<div class="productimgbox">
    <ul>
        <li class="productimg" style="border:1px solid #7f7f7f;">
            <div style="float: left;">
                <div style=" border-top:1px solid rgba(216,216,216,1);border-bottom:1px solid rgba(216,216,216,1);border-left:1px solid rgba(216,216,216,1);border-right:1px solid rgba(216,216,216,1);background-color:transparent;float: left;"></div>
                <div style="overflow:hidden;display:block;width: 100%;text-align: center;padding-bottom:10px;">
                    <a href="http://www.dg-hengyuan.com/?products=%e4%ba%ba%e8%84%b8%e6%b5%8b%e6%b8%a9%e8%80%83%e5%8b%a4%e9%97%a8%e7%a6%81%e5%a4%96%e5%a3%b3" class="bitImageAhover   link_image" title="人脸测温考勤门禁外壳">
                        <img data-t-id="22522" style="width: 100%;height: 100%;" class=" ag_image" src="https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDIwLzA2LzBiMjEzMDU4NDU3MWNmZTFjYjlhMjVhYjZhZWU1MGUyLTQwMHg0MDAuanBn.jpg" alt="HY-K817BV03" description="" data-attach-id="22522" data-title="HY-K817BV03" title="" src-img="">
                    </a>
                </div>
                <div style="padding-top:20px;padding-bottom:20px;color:#373A41;line-height:14px; vertical-align: top; text-align:center; width: 314.58px;height:60.6px;">
                    <a data-title="true" style="color:#373A41;font-size:14px;line-height:1" href="http://www.dg-hengyuan.com/?products=%e4%ba%ba%e8%84%b8%e6%b5%8b%e6%b8%a9%e8%80%83%e5%8b%a4%e9%97%a8%e7%a6%81%e5%a4%96%e5%a3%b3" class="bitImageAhover   link_title" title="人脸测温考勤门禁外壳">人脸识别开放平台的市场机遇</a>
                </div>
            </div>

</div>
</li>
</ul>
</div>
<div class="news" style="width: 1519.2px;height: 763.2px;">
    <div class="title">
        <div style="font-family:tahoma;font-size:50px;font-weight:bold;font-style:normal;color:#0b1d83;padding:0  10px 0 0;display:inline-block;padding:0  10px 0 0;vertical-align:middle;margin-left: 30px;">NEWS</div>
        <div style="font-family:微软雅黑;font-size:40px;font-weight:normal;font-style:normal;color:#2b2b2b;display:inline-block;padding:2px;vertical-align:middle;">新闻资讯</div>
    </div>
    <div class="new" style="margin-left:180px ;margin-top: 100px;">
        <div style="float: left;width: 522px;height: 547.6px;">
            <span style="color:#c4c4c4;font-size:28px;font-family:幼圆;;">05-07</span>
            <div style="color:#666666;font-size:28px;font-family:幼圆;font-weight:700;padding-bottom:10px;">
                人脸识别开放平台的市场机遇
            </div>
            <div style="color:#999999;font-size:16px;max-width:px;word-break:break-all;font-family:微软雅黑;line-height:20px;padding-bottom:10px;">
                这两年人工智能的火热，已经从概念进入到落地的阶段，尤其是语音的人工智能音箱和机器视觉人脸识别的相关产品。...
            </div>
            <img data-t-id="22475" style="border:1px solid #cccccc;" class="vc_box_outline  ag_image" src="https://cdn.goodq.top/caches/3ca69b90d929ab5db370a99817545413/aHR0cDovL3d3dy5kZy1oZW5neXVhbi5jb20vcWZ5LWNvbnRlbnQvdXBsb2Fkcy8yMDIwLzA2LzBiMjEzMDU4NDU3MWNmZTFjYjlhMjVhYjZhZWU1MGUyLTQwMHg0MDAuanBn.jpg" alt="微信支付A5" description="" data-attach-id="22475" data-title="微信支付A5" title="" src-img="">
        </div>
        <div style="float: left;width: 577.8px;height: 491.4px;margin-left: 200px;">
            <div style="width: 577.8px;height: 163.8px;float: left;">
                <div style="color:#666666;font-size:28px;font-family:幼圆;font-weight:700;padding-bottom:10px;float: left;">
                    人脸识别一体机终端
                </div>
                <div>
                    <span style="color:#c4c4c4;font-size:28px;font-family:幼圆;float: left;margin-left: 200px;">08-03</span>
                </div>
                <div style="margin-left: 500px;margin-top: 60px;">
                    <a href="http://www.dg-hengyuan.com/?p=21771" style="color:#0c0c0c;font-size:16px;">-></a>
                </div>
            </div>
            <div style="width: 577.8px;height: 163.8px;float: left;">
                <div style="color:#666666;font-size:28px;font-family:幼圆;font-weight:700;padding-bottom:10px;float: left;">
                    人脸识别平板终端
                </div>
                <div>
                    <span style="color:#c4c4c4;font-size:28px;font-family:幼圆;float: left;margin-left: 200px;">08-03</span>
                </div>
                <div style="margin-left: 500px;margin-top: 60px;">
                    <a href="http://www.dg-hengyuan.com/?p=21771" style="color:#0c0c0c;font-size:16px;">-></a>
                </div>
            </div>
            <div style="width: 577.8px;height: 163.8px;float: left;">
                <div style="color:#666666;font-size:28px;font-family:幼圆;font-weight:700;padding-bottom:10px;float: left;">
                    人脸识别门禁终端
                </div>
                <div>
                    <span style="color:#c4c4c4;font-size:28px;font-family:幼圆;float: left;margin-left: 200px;">08-03</span>
                </div>
                <div style="margin-left: 500px;margin-top: 60px;">
                    <a href="http://www.dg-hengyuan.com/?p=21771" style="color:#0c0c0c;font-size:16px;">-></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div style="width:1519.2px;height: 590px;text-align: left;background: rgb(233, 235, 240);">
    <div style="width:461.5px;height: 353.6px;float: left;margin-left: 240px;margin-top: 140px;">
        <div style="font-family:微软雅黑;font-size:22px;font-weight:bold;font-style:normal;color:#333333;padding:0 10px 0 0;display:block;padding:0 10px 0 0;text-align: left;">
            东莞市衡源金属科技有限公司
        </div>
        <div style="font-family:century gothic;font-size:12px;font-weight:normal;font-style:normal;color:#b5b5b5;display:block;padding:2px;text-align: left;">
            Dongguan hengyuan metal technology co. LTD
        </div>
        <div style="font-family: 微软雅黑;font-size: 16px;color: rgb(105,105,105);letter-spacing: 1px;line-height: 30px;text-align: left;margin-top: 50px;">
            <strong>地址：</strong>
            <span style="color: rgb(105,105,105);letter-spacing: 1px;font-size: 16px;line-height: 22px;">
                东莞市横沥镇石涌村石涌民营工业区38号B栋一楼
                </span>
        </div>
        <div style="font-family: 微软雅黑;font-size: 16px;color: rgb(105,105,105);letter-spacing: 1px;line-height: 30px;text-align: left;">
            <strong>手机：</strong>
            <span style="color: rgb(105,105,105);letter-spacing: 1px;font-size: 16px;line-height: 22px;">
                18925484550
                </span>
        </div>
        <div style="font-family: 微软雅黑;font-size: 16px;color: rgb(105,105,105);letter-spacing: 1px;line-height: 30px;text-align: left;">
            <strong>手机：</strong>
            <span style="color: rgb(105,105,105);letter-spacing: 1px;font-size: 16px;line-height: 22px;">
                18925736875
                </span>
        </div>
        <div style="font-family: 微软雅黑;font-size: 16px;color: rgb(105,105,105);letter-spacing: 1px;line-height: 30px;text-align: left;">
            <strong>Q Q：</strong>
            <span style="color: rgb(105,105,105);letter-spacing: 1px;font-size: 16px;line-height: 22px;">
                108526330
                </span>
        </div>
        <div style="font-family: 微软雅黑;font-size: 16px;color: rgb(105,105,105);letter-spacing: 1px;line-height: 30px;text-align: left;">
            <strong>邮箱：</strong>
            <span style="color: rgb(105,105,105);letter-spacing: 1px;font-size: 16px;line-height: 22px;">
                hengyuanhizao@163.com
                </span>
        </div>
        <div style="font-family: 微软雅黑;font-size: 16px;color: rgb(105,105,105);letter-spacing: 1px;line-height: 30px;text-align: left;">
            <strong>网站：</strong>
            <span style="color: rgb(105,105,105);letter-spacing: 1px;font-size: 16px;line-height: 22px;">
                    www.dg-hengyuan.com
                </span>
        </div>
    </div>

    <div style="width:441.5px;height: 420px;float: left;margin-top: 140px;margin-left: 200px;">
        <div style="font-family:微软雅黑;font-size:16px;font-weight:normal;font-style:normal;color:#0c0c0c;padding:0 10px 0 0;display:block;padding:0 10px 0 0;text-align: left;">
            在线留言
        </div>
        <div style="font-family:century gothic;font-size:14px;font-weight:normal;font-style:normal;color:#8e8e8e;display:block;padding:2px;text-align: left;">
            ONLINE FORM
        </div>
        <div style="width: 500px;height: 300px;">
            <div style="margin-top:50px;">
                姓 名:<input type="text" name="" id=""style="color: rgb(8, 8, 8);width: 300px;font-size: 14px;line-height:14px;">
            </div>
            <div style="margin-top:20px;">
                邮 箱:<input type="text" name="" id=""style="color: rgb(8, 8, 8);width: 300px;font-size: 14px;line-height:14px;">
            </div>
            <div style="margin-top:20px;">
                电 话:<input type="text" name="" id=""style="color: rgb(8, 8, 8);width: 300px;font-size: 14px;line-height:14px;text-align:center;">
            </div>
            <div style="margin-top:20px;">
                内 容:<input type="text" name="" id=""style="color: rgb(8, 8, 8);width: 300px;font-size: 14px;line-height:42px;">
            </div>
            <button>发送</button>
        </div>
    </div>
</div>
<div style="width: 1519.2px;">
    <img src="imgs/foot.jpg" alt="" style="width: 100%;height: auto;">
</div>
</body>
</html>